body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}
h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;      
    font-size: 20px;
    color: #111;
}
.container {
    padding: 80px 120px;
}
.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.person:hover {
    border-color: #f1f1f1;
}
.carousel-inner img {
    width: 100%;
    margin: auto;
}
.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}
.nav-tabs li a {
    color: #777;
}
.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
 textarea {
    resize: none;
}
.kurtana{
  	width:250px;
  	height: 250px;
}
.logooo{
  	height:50px;
}
.divino{
	width:100%;
	height:100%;
	padding-top:50px;
	display:block;
}
.mrnio{
	margin-right:50px;
}
@media(max-width: 1024px){
	.videoe{
		display: none;
	}
	.row{
		display: none;
	}
}
@media(max-width: 768px){
	.videoe{
		display: none;
	}
	.row{
		display: none;
	}
}
@media(max-width: 670px){
	audio{
		display: none;
	}
}